.cookieContainer {
  display: flex;
  /* background: red; */
  margin: auto;
}

.cookiePicture {
  margin: auto;
  width: 35vw;
  cursor: pointer;
  transition: transform 250ms ease-out;
}

.cookiePicture:hover {
  transform: scale(0.9);
  transform-origin: center;
}

.cookieClicked {
  animation: bounce 250ms;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
